*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

:root{
    --c-one:#EFF1FF;
    --c-second:#8E9AAF;
    --font-one: 'Staatliches', cursive;
    --font-second:'Palanquin', sans-serif;
    --fc-one:#FFFFFF;
    --fc-second:#23053A;
    font-size: 62.5%;
}

@keyframes scale{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}
@keyframes intro{
    0%{
        opacity: 0;
        transform: translateY(-15px);
        }
    100%{
        opacity: 1;
        transform: translateY(0);

    }

}

@keyframes header{
    0%{transform: translateX(-420px) }

    100%{transform: translateX(0);}
}

body::before{
    content: '';
    width: 100%;
    height:27.9rem;
    display: block;
    background-color: var(--c-second);
    position: absolute;
    top: 0;left: 0;z-index:-1;
}
body{
    width: 100%;
    font-size: 1.6rem;
    background-color: var(--c-one);
    
   
}
header{
    padding-top: 3.2rem ;
    margin:0 auto;
    text-align: center;
}
header img{
    width: 13.7rem;
    height: 13.7rem;
    object-fit: cover;
    margin:0 auto;
    animation: scale 900ms 800ms backwards;
    
}
header h1{
margin-top: 3.2rem;
padding: 8px 8.6rem;
background-color: #CBC0D3;
font-family: var(--font-one);
font-style: normal;
font-weight: 400;
font-size: 4.0rem;
line-height: 3.4rem;
color: var(--fc-one);
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

animation: header 900ms 800ms backwards;

}

.page{

   margin:4.5rem 3.2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3.2rem;
   text-align: center;
   animation: intro 800ms 950ms backwards;
}

.page p{

    width: 32rem;
    color: #23053A;
    font-family: var(--font-second);
font-size: 2rem;
line-height: 1.8rem;
margin-bottom: 6.3rem;

}

.container{
display: flex;
flex-direction: column;
gap: 3.2rem;

}
.card{
   
    position: relative;

    transition-duration: 750MS;
}

.card:hover{
    transform: scale(1.15);
}
.card img{
    width: 32rem;
    height: 25rem;
    object-fit: cover;
    filter: brightness(0.5);
    border-radius: 2rem;
}


.card p{
    
    font-size: 2rem;

    padding: 8px 2.4rem;
    width: fit-content;
    position:absolute ;
    right: 1.5rem;top:1.8rem;
    background-color: #feeafa; 
    font-family: var(--font-second);
    color: #4A4E69;
    border-radius: 2.0rem;
    font-family: var(--font-one);
    letter-spacing: 0.05em;
    display:inline-flex;

}

.container .card:nth-of-type(2n) img{
    height: 45rem;
}

